h1 {
    color: #754;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
p {
    color: #f515;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
strong {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}